<%- include ('admintop.ejs') %>
<%- include ('adminheader.ejs') %>
<%- include ('adminsidebar.ejs') %>

<main id="main" class="main">
    <div class="pagetitle">
        <h1>Profile</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/adminhome">Home</a></li>
                <li class="breadcrumb-item">Users</li>
                <li class="breadcrumb-item active">Update Password</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->
    <center>
        <% if (success.change) { %>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <%= success.change %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <% } %>
        <% if (success.admininfo) { %>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <%= success.admininfo %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <% } %>
    </center>
    <section class="section profile">

        <div class="row">
            <div class="">
                <div class="card">
                    <div class="card-body pt-3 w-100">
                        <!-- Bordered Tabs -->
                        <ul class="nav nav-tabs nav-tabs-bordered">

                            <li class="nav-item">
                                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Edit
                                    Profile</button>
                            </li>



                            <li class="nav-item">
                                <button class="nav-link active" data-bs-toggle="tab"
                                    data-bs-target="#profile-change-password">Change Password</button>
                            </li>

                        </ul>
                        <div class="tab-content pt-2">

                            <div class="tab-pane fade profile-edit pt-3" id="profile-edit">

                                <!-- Profile Edit Form -->
                                <form action='/admin/adminprofilechange' method='post'>

                                    <div class="row mb-3">
                                        <p>Do You want to change the Account information?</p>
                                        <label for="Email" class="col-md-4 col-lg-3 col-form-label">Email</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="email" type='email' class='form-control' maxlength="60"
                                                required value="<%=data.email ||''%>">
                                            <span style=" color:red"><%=errors.email%></span>

                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="name" class="col-md-4 col-lg-3 col-form-label">Name</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="name" type="text" class="form-control" name="name"
                                                maxlength="25" required value="<%=data.name || ''%>">
                                            <span style=" color:red;"><%=errors.name%></span>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label for="name" class="col-md-4 col-lg-3 col-form-label">University
                                            Name</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="schoolname" type="text" class="form-control"
                                                value="<%=data.schoolname || ''%>">
                                            <span style=" color:red;"><%=errors.schoolname%></span>
                                        </div>
                                    </div>



                                    <div class="text-center">
                                        <button type="submit" class="btn btn-primary">Save Changes</button>
                                    </div>
                                </form><!-- End Profile Edit Form -->

                            </div>

                            <div class="tab-pane fade pt-3 active col-12 show" id="profile-change-password">
                                <!-- Change Password Form -->

                                <form action="/admin/adminupdatepassword" method="post">
                                    <div class="mb-3">
                                        <div class="row ">
                                            <div class="col-md-5">
                                                <label for="currentPassword" class="form-label">Current Password</label>
                                            </div>
                                            <div class="col-md-7">
                                                <div class="input-group">
                                                    <input type="password" id="currentPassword" class="form-control"
                                                        name="currentPassword" minlength="8" maxlength="16"
                                                        pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                                                        value="<%=data.currentPassword || ''%>">
                                                    <span class="input-group-text" id="toggleCurrentPassword">
                                                        <i class="fas fa-eye"></i>
                                                    </span>
                                                </div>
                                                <span class="text-danger">
                                                    <%=errors.current%>
                                                    <%=errors.currentpassword%>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <div class="row">
                                            <div class="col-md-5">
                                                <label for="newPassword" class="form-label">New Password</label>
                                            </div>
                                            <div class="col-md-7">
                                                <div class="input-group">
                                                    <input type="password" id="newPassword" class="form-control"
                                                        name="newPassword" minlength="8" maxlength="16"
                                                        pattern="(?=.*[a-z])(?=.*[A-Z]).{8,}"
                                                        value="<%=data.newPassword || ''%>">
                                                    <span class="input-group-text" id="toggleNewPassword">
                                                        <i class="fas fa-eye"></i>
                                                    </span>
                                                </div>
                                                <span class="text-danger">
                                                    <%=errors.newpassword%>
                                                </span>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="row">
                                        <div class="col-md-5">
                                            <label for="retypePassword" class="form-label">Confirm Password</label>
                                        </div>
                                        <div class="col-md-7">
                                            <div class="input-group">
                                                <input type="password" id="retypePassword" class="form-control"
                                                    name="retypePassword" minlength="8" maxlength="16"
                                                    pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                                                    value="<%=data.retypePassword || ''%>">
                                                <span class="input-group-text" id="toggleRetypePassword">
                                                    <i class="fas fa-eye"></i>
                                                </span>
                                            </div>
                                            <span class="text-danger">
                                                <%=errors.retype%>
                                                <%=errors.retypepassword%>
                                            </span>
                                        </div>
                                    </div>

                                    <div class="mt-4">
                                        <button type="submit" class="btn btn-primary ">Change Password</button>
                                    </div>

                                </form>
                                <!-- End Change Password Form -->

                            </div>

                        </div><!-- End Bordered Tabs -->

                    </div>
                </div>

            </div>
        </div>
    </section>

</main><!-- End #main -->

<%- include ('adminfooter.ejs') %>
<%- include ('adminbottom.ejs') %>