<%- include('teacherheader.ejs') %>
<main class='bg-success'>
    <center> <% if (success.change) { %>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <%= success.change %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <% } %>
    </center>


    <div class="container-fluid px-4 ">

        <div class="row m-5">
            <div class="col-12">
                <div class="card pt-3 m-3 rounded rounded-1 border-info border-2">
                    <div class="card-title text-center text-primary fs-4">Change Password</div>
                    <div class="card-body">
                        <form action="/teacherupdatepassword" method="post">
                            <div class="mb-3">
                                <label for="currentPassword" class="form-label">Current Password</label>
                                <div class="input-group">
                                    <input type="password" id="currentPassword" class="form-control"
                                        name="currentPassword" minlength="8" maxlength="16"
                                        pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                                        value="<%=data.currentPassword || ''%>">
                                    <span class="input-group-text" id="toggleCurrentPassword">
                                        <i class="fas fa-eye"></i>
                                    </span>
                                </div>
                                <span class="text-danger">
                                    <%=errors.current%>
                                    <%=errors.currentpassword%>
                                </span>
                            </div>
                            <div class="mb-3">
                                <label for="newPassword" class="form-label">New Password</label>
                                <div class="input-group">
                                    <input type="password" id="newPassword" class="form-control" name="newPassword"
                                        minlength="8" maxlength="16" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                                        value="<%=data.newPassword || ''%>">
                                    <span class="input-group-text" id="toggleNewPassword">
                                        <i class="fas fa-eye"></i>
                                    </span>

                                </div>
                                <span class="text-danger">

                                    <%=errors.newpassword%>
                                </span>
                            </div>
                            <div class="mb-3">
                                <label for="retypePassword" class="form-label">Confirm Password</label>
                                <div class="input-group">
                                    <input type="password" id="retypePassword" class="form-control"
                                        name="retypePassword" minlength="8" maxlength="16"
                                        pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                                        value="<%=data.retypePassword || ''%>">
                                    <span class="input-group-text" id="toggleRetypePassword">
                                        <i class="fas fa-eye"></i>
                                    </span>
                                </div>
                                <span class="text-danger">
                                    <%=errors.retype%>
                                    <%=errors.retypepassword%>
                                </span>
                            </div>
                            <div class="mt-4">
                                <button type="submit" class="btn pull-right rounded-0 btn-primary">Change
                                    Password</button>
                            </div>

                        </form>

                    </div>
                    <!-- start of the form -->


                    <!-- end of the form -->


                </div>
            </div>
        </div>
    </div>

</main>
<%- include('teacherbottom.ejs') %>
<!-- 
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    crossorigin="anonymous"></script> -->
<script src="/static/teacher/js/scripts.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
<script src="/static/teacher/assets/demo/chart-area-demo.js"></script>
<script src="/static/teacher/assets/demo/chart-bar-demo.js"></script>
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
<script src="/static/teacher/js/datatables-simple-demo.js"></script>
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/bootstrap.bundle.min.js"></script>

<script>
    $(document).ready(function () {
        function togglePasswordVisibility(toggleButtonId, passwordFieldId) {
            const toggleButton = $(toggleButtonId);
            const passwordField = $(passwordFieldId);

            toggleButton.on('click', function () {
                const type = passwordField.attr('type') === 'password' ? 'text' : 'password';
                passwordField.attr('type', type);

                // Toggle the icon class
                toggleButton.find('i').toggleClass('fa-eye fa-eye-slash');
            });
        }

        togglePasswordVisibility('#toggleCurrentPassword', '#currentPassword');
        togglePasswordVisibility('#toggleNewPassword', '#newPassword');
        togglePasswordVisibility('#toggleRetypePassword', '#retypePassword');
    });
</script>

</body>

</html>